<div class="row">
  <div class="col-md-9"><h4>Buy BitCoin</h4></div>
  <div class="col-md-3">
    <ul class="list-group text-right">
      <li class="list-group-item"> at market price $ <b><%= @last_price %></b></li>
      <li class="list-group-item"> last updated <b><%= @last_update %></b> seconds ago</li>
    </ul>
  </div>
</div>

<div class="row">
  <%= render 'form' %>
</div>


