<div class="row">
  <div class="col-md-6"><h4>Buy BitCoin</h4></div>
  <div class="col-md-6">
    at market price $316.96
    <p>last updated 2 seconds ago</p>
  </div>
</div>

<div class="row">
  <%= render 'form' %>
</div>

