<div class="row">
  <div class="col-md-6"><h4>Buy BitCoin</h4></div>
  <div class="col-md-6">
    at market price $<%= @last_price %>
    <p>last updated <%= @last_update %> seconds ago</p>
  </div>
</div>

<div class="row">
  <%= render 'form' %>
</div>


